
.bg{
    background-image: url(https://i.ibb.co/txG73QC/ema-jon-delivery.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.about{
    font-style: italic;
    margin: 40px;
    color: white;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.8;

}